doctype html
html
  head
    title DataAnalysis
    link(rel="stylesheet" href="style.css" type='text/css')
  body
    h3 Hello #{name}. Here are all the results in IFSC website.
    form(action='/logout' method='post')
      button(type='submit') LogOut
    table
      each data in dataset
        tr
          td= data.rank
          td= data.name
        